<div class="header">
  <div class="container">
    <h1>Clicker Heroes 1.0 HS Optimizer</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <p>This calculator is based on
      <a href="https://www.reddit.com/r/ClickerHeroes/comments/4naohc/math_and_transcendance"><strong>Math and Transcendance</strong></a>
      by <a href="https://www.reddit.com/user/sugima">/u/sugima</a> and
      <a href="https://www.reddit.com/r/ClickerHeroes/comments/3y57jd/updated_rules_of_thumb/"><strong>Updated Rules of Thumb!</strong></a>
      by <a href="https://www.reddit.com/user/TinDragon">/u/TinDragon</a> to compute the idle, active and hybrid builds.</p>
    <p>You need at least Siyalatas or Fragsworth at level 1 and to have transcended at least once to make it work.</p>
    <p>Source code is <a href="https://www.github.com/superbob/clicker-heroes-1.0-hsoptimizer">here</a>, it is open to issues and pull requests.</p>
    <p>Announcement and discussions on <a href="https://www.reddit.com/r/ClickerHeroes/comments/4qhud9/transcendence_hs_optimizer">/r/ClickerHeroes/comments/4qhud9/transcendence_hs_optimizer</a>
  </div>

  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">Data</div>
      <div class="panel-body">
        <div class="col-md-4">
          <form>
            <div class="form-group">
              <label for="saveData">Save data</label>
              <textarea class="form-control" id="saveData" rows="3" placeholder="Paste your save data here" ng-model="encodedSaveData" autofocus></textarea>
            </div>
            <p class="text-danger" ng-show="error">{{error}}</p>
          </form>
        </div>
        <form class="form-inline">
          <div class="col-md-4">
            <div class="form-group">
              <label for="ascendZone">Ascend zone</label>
              <input type="text" class="form-control" id="ascendZone" ng-model="ascendZone">
            </div>
            <div class="form-group">
              <label>Playstyle</label>
              <div class="radio">
                <label>
                  <input type="radio" name="playstyle" id="playStyleIdle" value="idle" ng-model="playStyle" checked>
                  Idle
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="playstyle" id="playStyleHybrid" value="hybrid" ng-model="playStyle">
                  Hybrid
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="playstyle" id="playStyleActive" value="active" ng-model="playStyle">
                  Active
                </label>
              </div>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="includeSoulsFromAscend">Include souls from ascension<span ng-if="saveData"> (+{{hsFromAscend | units:useScientificNotation}})</span>
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="useScientificNotation">Use scientific notation
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row" ng-if="saveData">
      <p>You have {{hsInStock | units:useScientificNotation}} HS in stock</p>
  </div>

  <div class="row" ng-if="saveData">
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>Ancient</th>
            <th>Current</th>
            <th>Goal</th>
            <th>Delta</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="ancient in ancients | orderBy : 'name'">
            <td>{{ancient.name}}</td>
            <td>{{ancient.level | units:useScientificNotation}}</td>
            <td>{{ancient.optimumLevel | units:useScientificNotation}}</td>
            <td><strong>+{{ancient.optimumLevel - ancient.level | units:useScientificNotation}}</strong></td>
          </tr>
        </tbody>
      </table>
  </div>

  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">More Info</div>
      <div class="panel-body">
        <p>This optimizer is primarly based on
          <a href="https://www.reddit.com/r/ClickerHeroes/comments/4naohc/math_and_transcendance">these formulas</a>
          by <a href="https://www.reddit.com/user/sugima">/u/sugima</a> for basic idle optimization.</p>
        <p><a href="https://www.reddit.com/r/ClickerHeroes/comments/3y57jd/updated_rules_of_thumb/">Older formulas</a>
          by <a href="https://www.reddit.com/user/TinDragon">/u/TinDragon</a> are used to compute the active and hybrid builds.</p>
        <p>The main difference from <a href="https://kepow.org/clickerheroes">kepow</a> calculator
          is the idle/active ratio for hybrid builds. His optimizer uses a 0.1 ratio
          whereas I sticked with the original 0.5 ratio from rules of thumb.</p>
        <p>Also, <a href="https://www.reddit.com/user/Shruikan864">/u/Shruikan864</a>'s
          <a href="https://www.reddit.com/r/ClickerHeroes/comments/4nox6i/rules_of_thumb_10_spreadsheet/">Rules of Thumb 1.0 Spreadsheet</a>
          was used to get and verify some important formulas.</p>
        <p>Important variations with other calculators can come from rounding, as a "round to the nearest integer" is applied
          in computed optimized ancient levels instead of a floor that can be seen in other calculators (such as <em>kepow</em> or <em>Rules of Thumb 1.0 Spreadsheet</em>).</p>
      </div>
    </div>
  </div>

</div>
